body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'head head head'
    'nav nav nav'
    'program resume video'
    'footer footer footer';
    background-color: #005F73;
}

.page-title {
    grid-area: head;
}

.navigation {
    grid-area: nav;
}

#program {
    grid-area: program;
}

#resume {
    grid-area: resume;
}

#video {
    grid-area: video;
}

.foot {
    grid-area: footer;
    color: #0A9396;
}

#name {
    color: #EE9B00;
}

#personal-summary{
    color: #E9D8A6;
}

p {
    color: #94D2BD;
}