@font-face {
    font-family: 'josefin';
    src: url('../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'header header header'
        'nav nav nav'
        'content content content'
        'footer footer footer';
    background-color: black;
    font-family: josefin;
}

.page-title {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'name sum';
}

#name {
    grid-area: name;
    color: #68B684;
    display: flex;
    justify-content: space-around;
}

header>#personal-summary {
    grid-area: sum;
    color: #68B684;
    display: flex;
    justify-content: space-around;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
}

.resume {
    grid-area: content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'me  me'
        'job  skill'
        'job  exp'
        'ed  ed';
}

.about-me {
    grid-area: me;
}

.technical-skills {
    grid-area: skill;
}

.technical-experience {
    grid-area: exp;
}

.professional-experience {
    grid-area: job;
}

/* .slideshow-container {
    position: relative;
    max-width: 1000px;
    
    margin: auto;
} */

/* .mySlides {
    display: none;
} */

/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
} */

/* @keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */


.education {
    grid-area: ed;
}

a:hover {
    color: #C3F73A;
}


/**
Types
**/
a {
    color: #95E06C;
}

.section-heading {
    color: #3068A0;
}

p {
    color: #608CB9;
}

ul {
    color: #608CB9;
}

h4 {
    color: #608CB9;
}

h5 {
    color: #608CB9;
}


/**
Foot
**/

.foot {
    grid-area: footer;
    color: #3068A0;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}